* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Alegreya', sans-serif;
  font-size: 14px;
  /* Sets the font size to 14px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.9em;
  font-weight: 500;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

img {
  width: 100%;
}
/* ==================
LINKS AND BUTTONS
=================== */
a {
  color: #0059b3;
}

a:visited {
  /* visited link */
  color: #0059b3;
}

a:hover,
a:focus {
  color: #0073e6;
}

a:active {
  /* selected link */
  color: #0073e6;
}

.button {
  display: inline-block;
  background-color: #0059b3;
  color: #ffffff !important;
  padding: 10px 30px;
  border-radius: 3px;
  border-bottom: 2px solid #0059b3;
  /* width of the border, type, colour */
  transition-duration: 0.2s;
  transition-property: opacity;
  text-decoration: none;
}

.button:hover {
  background-color: #0059b3CC;
  /* Reduces the opacity of the button to 80% */
}

.button.button2 {
  background-color: #ffffff;
  color: #0059b3 !important;
}
.button.button2:hover {
  background-color: #0073e6CC;
}

/* ==================
LAYOUT STYLING: HEADER
=================== */

header {
  background-color: #F9F9F9;
  padding: 10px 0;
  border-bottom: 3px solid #6A93BC;
    text-align: unset;
    position: fixed;
    width: 100%;
}

/* ==================
LAYOUT STYLING: ROWS AND COLUMNS
=================== */

.container {
  padding: 0 15px;
}

main {
  padding-top: 92px;
}

section {
  margin: 2em 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #6A93BC;
}

#work .row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* ==================
LAYOUT STYLING: TEXT ALIGNMENT
=================== */

#welcome h1, #project h1 {
  text-align: center;
}

#welcome h1 span, #project h1 span {
  display: block;
  font-size: 60%;
  margin-top: 1em;
}

#work h2 {
  text-align: center;
}

.social .fab {
  font-size: 1.7em;
  margin: 0 0.7em;
  color: #ffffff;
}

.social {
  margin-top: 1em;
}

footer {
  background-color: #0059b3;
  padding: 1em 0;
  text-align: center;
  color: #ffffff;
}

/* ==================
NAVIGATION BAR
=================== */

.logo {
font-size: 1.5em;
text-decoration: none;
color: #6A93BC;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #0059b3;
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: #0059b3
}

nav > ul > li > a:hover {
  color: #0073e6
}

nav > ul > li > a:active {
  color: #0073e6
}

/* ==================
HERO PAGE
=================== */

#hero {
  background-color #F9F9F9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  }


  /* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
header {
text-align: unset;
padding: 20px 0 13px;
}

header .container {
  display: flex;
justify-content: space-between;
align-items: center;
}

nav {
  width: auto;
}

nav ul {
  margin-top: 0;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

}


/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
}


/* ==============================
X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1440px) {
}

/* ==============================
CSS Animation
================================= */

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}



@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}


@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
