* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Alegreya', sans-serif;
  font-size: 14px;
  /* Sets the font size to 14px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

img {
  width: 100%;
}
/* ==================
LINKS AND BUTTONS
=================== */
a {
  color: #0059b3;
}

a:visited {
  /* visited link */
  color: #0059b3;
}

a:hover,
a:focus {
  color: #0073e6;
}

a:active {
  /* selected link */
  color: #0073e6;
}

.button {
  display: inline-block;
  background-color: #0059b3;
  color: #ffffff !important;
  padding: 10px 30px;
  border-radius: 3px;
  border-bottom: 2px solid #0059b3;
  /* width of the border, type, colour */
  transition: 0.2s background-color;
  text-decoration: none;
}

.button:hover {
  background-color: #0059b3CC;
  /* Reduces the opacity of the button to 80% */
}

.button.button2 {
  background-color: #0073e6;
}
.button.button2:hover {
  background-color: #0073e6CC;
}

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #6A93BC;
}

/* ==================
LAYOUT STYLING: ROWS AND COLUMNS
=================== */

.container {
  padding: 0 15px;
}

#work .row {
  padding-bottom: 25px; border-bottom: 3px solid #6A93BC;
}

/* ==================
LAYOUT STYLING: TEXT ALIGNMENT
=================== */

#hero h1 {
  text-align: center;
}
